bin
.cache
include/PCF.def
include/PCF-parenthesize.str
include/PCF-Permissive.def
include/PCF.generated.pp.af
include/PCF.packed.esv
include/PCF.pp.af
include/PCF.rtg
include/PCF.str
include/PCF.tbl
include/pcf.rtree
include/pcf.ctree
include/pcf.ctree.dep
include/pcf.jar
include/pcf-java.jar
editor/java/trans
editor/*.generated.*
syntax/PCF*.generated.esv
syntax/PCF.generated.pp
syntax/*.sdf
trans/*.pp.generated.str
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
